~$*
01 InfoWorks ICM/02 SQL/01 InfoWorks/0037 - Update Channel XS manning n/Readme.docx
01 InfoWorks ICM/02 SQL/01 InfoWorks/0037 - Update Channel XS manning n/to_markdown.bat
*.pyc
.vscode
01 InfoWorks ICM/04 Themes/Readme.docx
01 InfoWorks ICM/04 Themes/to_markdown.bat
01 InfoWorks ICM/03 Python/004 hechms time series/readme.docx
01 InfoWorks ICM/03 Python/004 hechms time series/to_markdown.bat
06 XPSWMM/01 Tutorials/readme.docx
01 InfoWorks ICM/04 Themes/HowTos/sql_expression/readme.docx
01 InfoWorks ICM/04 Themes/HowTos/sql_expression/to_markdown.bat
06 XPSWMM/02 Resources/readme.docx
06 XPSWMM/02 Resources/to_markdown.bat
